doctype html
html
	head
		title Diversability Community
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="/js/fblogin.js")

	body
		p hello world
		fb:login-button(scope='public_profile,email,user_location,user_managed_groups', onlogin='checkLoginState();')
		div#status